:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #b9aaaa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #771163;
  background-image: url("https://images.unsplash.com/photo-1519843405077-a95758ac3d8e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1931&q=80");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.current-weather-container {
  padding: 20px 11px;
  min-height: 250px;
  min-width: 250px;

  border: none;
  color: white;

  position: absolute;
  top: 20px;
  left: 10px;
}

.card {
  min-width: 300px;
  
  box-shadow: 0px 0px 4px 0px lightgrey;
  text-align: center;
}

.card-header {
  text-align: left;
  padding-left: 55px;
}

.card-title {
  margin: 0;
  padding-top: 10px;
  padding-right: 20px;
  color: #fff;
  font-size: 40px;
}

.current-weather-temperature {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 50px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 90px;
}

.temperature {
  font-size: 75px;
  color: #fff;
  height: inherit;
  padding-right: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-left: 5px;
  padding-top: 20px;
}

.temperature-switch {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 22px;
  padding-top: 20px;
  font-size: 20px;
}

.location {
  display: flex;
  justify-content: left;
  gap: 10px;
  align-items: center;
  padding: 0;
  padding-left: 55px;
  text-align: left;
  height: 82px;
  width: 286px;
}




/* 
.container-button {
  padding: 32px;
}



.container-toggle-buttons {
  display: flex;
  justify-content: center;
  padding: 32px;
}

.toggle-button {
  color: rgb(0, 0, 0);
  font-weight: 100;
  padding: 4px 8px;
  border: 1px solid dimgray;
  cursor: pointer;
}

.unit-enabled {
  background-color: beige;
  cursor: default;
}

.right-border-none {
  border-right: none;
}

.left-border {
  border-left: 1px solid dimgray;
} */

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */




/* button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: royalblue;
}

button {
  color: rgb(82, 2, 50);
  font-weight: 100;
  padding: 4px 8px;
  
  cursor: pointer;
}
 */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: transparent;
    opacity: 0.8
  }
} */
